---
import type { Pokemon } from "@/types/pokemon";

export async function getStaticPaths() {
  const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=100000");
  const data = await res.json();

  return await Promise.all(
    data.results.map(async (poke: any) => {
      const res = await fetch(poke.url);
      const fullData = await res.json();

      return {
        params: { name: poke.name },
        props: { poke: fullData },
      };
    }),
  );
}
const { poke } = Astro.props;
const data = poke as Pokemon;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{data.name}</title>
  </head>
  <body>
    <h1>{data.name}</h1>
    <img src={data.sprites.front_default} alt={data.name} />
  </body>
</html>
