---
import Layout from "@/layouts/Layout.astro";

import PokemonList from "@/components/PokemonList";
---

<Layout>
  <div class="flex flex-col mb-2 my-20">
    <h1 class="text-3xl font-bold">Explorador de Pokémon</h1>
    <p>Descubre todos los Pokémon y sus características.</p>
  </div>
  <PokemonList client:load />
</Layout>
